# Dependency directories
node_modules/

# Logs
.DS_*
*.log
logs
yarn-debug.log*
yarn-error.log*

# Optional cache directory
.npm
.cache

# Optional eslint cache
.eslintcache

# Optional editor config
.vscode
